@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #FCEACC;
    touch-action: manipulation;
    box-sizing: border-box;
}

.body {
    padding: 0 10px;
    margin: auto;
    position: relative;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    padding-top: 60px;
}

h1,
h2 {
    font-size: 1.5em;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: -1px;
}

.color {
    color: #FFA203;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 250;
    color: #6B7280;
    font-size: 15px;
}

#gen-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10rem;
    height: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #6B7280;
    font-size: 12px;
    background-color: #FFA203;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gen-btn:hover {
    background-color: #b37100;
}

#gen-btn img {
    vertical-align: middle;
    width: 20px;

}

.line {
    background-color: #9C9899;
    width: 17rem;
    height: 1px;
    margin: auto;
    margin-bottom: 20px;
}

.boxes {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.boxes div {
    text-align: center;
    background-color: #70000D;
    color: #A90316;
    width: 8.5rem;
    height: 1.5rem;
    padding-top: 5px;
    border-radius: 5px;
}

@media (min-width: 400px) {
    h1 {
        font-size: 35px;  
    }
    h2 {
        font-size: 18px;
    }
    #gen-btn {
        width: 15rem;
        height: 3rem;
        font-size: 15px;
    }
    .line {
        width: 22rem;
    }
    .boxes div {
        width: 11rem;
        height: 1.7rem;
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .body {
        margin-top: 40px;
        max-width: 700px;
    }
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }
    #gen-btn {
        width: 20rem;
        height: 3rem;
        font-size: 25px;
    }
    #gen-btn img {
        width: 25px;
    }
    .line {
        width: 30rem;
    }
    .boxes {
        gap: 20px;
    }
    .boxes div {
        text-align: center;
        width: 15rem;
        height: 2rem;
        font-size: 20px;
    }
}